html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
iframe {
  height: 100%;
  width: 100%;
}
.product_view .modal-dialog {
  max-width: 400px;
  width: 100%;
}
.pre-cost {
  text-decoration: line-through;
  color: #a5a5a5;
}
.space-ten {
  padding: 10px 0;
}
.plus-img:hover {
  background-color: #004c99;
  color: #ffffff;
  cursor: pointer;
}
